@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    user-select: none;
    font-family: Roboto, Poppins;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background-color: #202020;
    color: #FFF;
}

.calculadora-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
}

.historial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: auto;
}

.title {
    padding: 0 0 25px 25px; 
}

.title h2 {
    font-weight: 600;
}

.output {
    position: relative; /* Asegura que los elementos internos se posicionen bien si usas absolute */
    width: 100%;
    display: flex; /* Organiza los elementos en columna */
    flex-direction: column; /* Apila el historial encima del display principal */
    align-items: flex-end; /* Alinea el texto a la derecha */
    justify-content: flex-end; /* Alinea los elementos al final del contenedor */
    padding: 10px; /* Un poco de espacio */
    box-sizing: border-box;
}

.history-display {
    min-height: 20px; /* Altura para que siempre se vea */
    font-size: 1.2em; /* Más pequeño que el display principal */
    color: #888; /* Un color más tenue que el display principal*/
    text-align: right;
    width: 100%;
    overflow-x: auto; /*Permite scroll horizontal si la expresión es muy larga */
    white-space: nowrap; /* Evita que la expresión se rompa en varias líneas */
    padding-bottom: 5px; /* Espacio entre la expresión y el número actual */
}

#display {
    width: 100%;
    height: 200px;
    text-align: end;
    font-size: 3em;
    border: none;
    background-color: #202020;
    color: #FFF;
    font-weight: 400;
    caret-color: transparent;
}

#display:focus {
    outline: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row,
.sixth-row {
    display: flex;
    width: 100%;
    height: 100%;
}

.btn {
    width: 100%;
    height: 100%;
    background-color: #505052;
    color: #FFF;
    font-weight: 600;
    font-size: 24px;
    border-radius: 2%;
    border: 1px solid black;
}

.btn:hover {
    background-color: #313131;
}

.btn-dark {
    background-color: #323232;
}

.btn-dark:hover {
    background-color: #3C3C3C;
}


.btn-equal {
    background-color: #F46762;
}

.btn-equal:hover {
    background-color: #DE5F5B;
}

.historial {
    display: flex;
    justify-content: flex-start;
    justify-self: flex-start;
    align-items: flex-start;
}

.historial-title {
    display: inline-block;
    position: relative;
}

.historial-title::after {
    content: "";
    position: absolute;
    left: 40%;
    bottom: 0;
    width: 25%;
    height: 3px;
    background-color: #DE5F5B; 
    border-radius: 2px;
}

.historial-title:hover {
    color: #6b6b6b;
}

.historial-title h2 {
    font-size: 16px;
    font-weight: 300;
}

.historial-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 25px;
}

.historial-results {
    font-weight: 300;
    font-size: 12px;
}